.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1040;
}

.header-container .header {
    padding: 0.7rem 1.5rem;
    background-color: var(--primary-color);
    color: var(--text-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.8rem;
    gap: 0.8rem;
}

.header-container .header .content {
    flex: 1;
}
.header-container .header .go-to-main.content {
    display: flex;
    align-items: center;
    position: relative;
}
.header-container .header .go-to-main.content .button {
    flex: 1;
}
.header-container .header .go-to-main.content .search-icon {
    position: absolute;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--header-text-color);
}
.header-container .header .go-to-main.content .search-team {
    padding: 0.5rem 1rem;
    flex: 1;
    border-radius: 1rem;
    color: var(--header-text-color);
}
.header .brand {
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center ;
    gap: 0.5rem;
}
.header .brand img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
}
.header .go-to-main {
    cursor: pointer;
}
.go-to-main .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--text-white);
    cursor: pointer;
    background-color: var(--text-white);
    color: var(--header-text-color);
    padding: 0.5rem 1.3rem;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 1.4rem;
}
.go-to-main .button .icon {
    font-size: 1.3rem;
}
.go-to-main .button .label {
    font-size: 1rem;
}
.go-to-main .button:hover {
    outline: none;
    text-decoration: none;
}

.header .right-navigation {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    justify-content: flex-end;
}
.header .right-navigation .profile {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
.header .right-navigation .profile .user-name {
    font-size: 1rem;
    text-align: end;
}
.right-navigation .profile img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
}

.header .right-navigation .button {
    cursor: pointer;
    color: var(--text-white);
    padding: 0.5rem 0.7rem;
    border-radius: 0.5rem;
    font-size: 1.5rem; 
}

.header .right-navigation .button.settings {
    color: var(--secondary-color)
}

.header .right-navigation .button.logout {
    color: var(--danger-color)
}