.team-content.container .file-sharing {
  display: flex;
  width: 100%;
  align-items: unset!important;
  margin-bottom: 1rem;
  border-radius: 0.8rem;
  border: 1px solid var(--secondary-color)
}


.fs-container {
  flex: 2;
  color: var(--header-text-color);
  background-color: var(--tertiary-color);
  border-radius: 0.8rem;
}


.fs-container.half-border {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.fs-header {
  display: flex;
  align-self: center;
  justify-content: space-between;
  background-color: var(--chart-header-bg);
  font-weight: 600;
  padding: 1rem;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

.fs-header.half-border {
  border-top-right-radius: 0;
}

.fs-header .header-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  flex: 1;
}
.fs-header .header-title .path {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.fs-header .header-title .path .back {
  cursor: pointer;
  margin-left: 0.6rem;
  color: var(--danger-color);
}
.fs-header .header-title .right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}
.fs-header .header-title .right .main-button {
  background-color: var(--header-text-color);
  color: var(--text-white);
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
}
.fs-header .header-title .right .main-button i {
  font-size: 1rem;
}
.fs-header .header-title .right .main-button span {
  margin-left: 0.5rem;
}
.fs-header .header-title .right .main-button:focus {
  border: none;
  outline: none;
}
.fs-header .header-title .right .hidden-buttons {
  position: absolute;
  top: 3rem;
  right: 0;
  background-color: #f3f3e0;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  z-index: 1;
  width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--header-text-color);
  color: var(--text-white);
}

.fs-header .header-title .right .hidden-buttons button {
  background-color: transparent;
  border: none;
  color: var(--header-text-color);
  cursor: pointer;
  padding: 0.5rem;
  width: 100%;
  text-align: start;
}

.fs-header .header-title .right .hidden-buttons button:focus {
  border: none;
  outline: none;
}
.fs-header .header-title .right .hidden-buttons button:hover * {
  color: var(--secondary-color);
}
.fs-header .header-title .right .hidden-buttons > button:last-of-type {
  border-bottom: none;
}
.fs-header .header-title .right .hidden-buttons button i {
  width: 2rem;
  color: var(--text-white);
  text-align: center;
}
.fs-header .header-title .right .hidden-buttons button span {
  color: var(--text-white);
  font-size: 1rem;
}

.file-sharing .file-cards {
  display: none;
  flex: 1;
  background-color: #7e9cb9;
  color: var(--text-white);
} 

.fs-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--chart-bg-color);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  font-weight: 600;
}

.fs-content-header .name {
  flex: 2;
}
.fs-content-header .filesize {
  flex: 1;
}
.fs-content-header .modification-delete {
  flex: 1;
}
.fs-content-header .action {
  flex: 1;
}
.file-sharing .fs-header .show-storage {
  cursor: pointer;
  padding: 0.3rem;
  color: var(--active-color)
}
.file-sharing .fs-header .archive-button {
  cursor: pointer;
  padding: 0.3rem;
  color: var(--danger-color)
}
.file-sharing .file-cards.show {
  display: block;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  animation: slideIn 0.5s ease-in-out;
}

.file-sharing .file-cards.hide {
  display: none;
  margin-bottom: 15px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  animation: slideOut 0.5s ease-in-out;
}

@keyframes slideIn {
  0% { transform: translateX(100%); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

@keyframes slideOut {
  0% { transform: translateX(0); opacity: 1; }
  100% { transform: translateX(-100%); opacity: 0; }
}

@keyframes slideOut {
  0% { transform: translateX(0); opacity: 1; }
  100% { transform: translateX(-100%); opacity: 0; }
}

.file-sharing .file-cards .card-header {
  display: flex;
  justify-content: center;
  flex: 1;
  border: none;
  font-size: 1.3rem;
  padding: 1.2rem 1rem;
  height: 5rem !important;
  background-color: transparent !important;
  color: var(--text-white) !important;
  border-bottom: 1px solid var(--chart-bg-color);
}

.file-sharing .file-cards .card-body {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.file-sharing .file-cards .card {
  border: none;
  background-color: transparent !important;
  color: var(--text-white) !important
}

.file-sharing .file-cards .card {
  background-color: var(--chart-bg-color);
  
}

.file-sharing .file-cards .progress-container {
  width: 100%;
  height: 20px; 
  background-color: #e0e0e0; 
  border-radius: 10px;
  overflow: hidden;
  position: relative;

}

.file-sharing .file-cards .progress-bar {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.5s ease-in-out;
}

.file-sharing .file-cards .progress-text {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: bold;
  color: var(--header-text-color);
}

.fs-header .header-title .right .hidden-buttons * {
  flex: 1;
}
.fs-header .header-title .right .hidden-buttons button {
  border-bottom: 1px solid var(--text-white);
}
.fs-header .header-title .refresh {
  cursor: pointer;
  width: 1.5rem;
}
.fs-content {
  background-color: var(--tertiary-color);
  padding: 0.7rem 0.7rem;
  min-height: 20vh;
  max-height: 60vh;
  overflow-y: auto;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.fs-content .bulk-delete-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  background-color: var(--danger-color);
  color: var(--text-white);
  border:none;
  border-radius: 10px;
  padding: 0.4rem 0.7rem;
  justify-self: end;
}
.fs-content .bulk-delete-button:focus {
  border: none;
  outline: none;
}

.fs-content::-webkit-scrollbar-track {
  background: transparent; /* Make the track invisible */
}

/* Style the scrollbar thumb (the draggable part) */
.fs-content::-webkit-scrollbar {
  width: 5px;
}

.fs-content::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scroll thumb */
  border-radius: 10px;
}

.fs-content::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darken on hover */
}

.fs-content .menu {
  position: relative;
  display: flex;
  justify-content: end;
}

.fs-content .menu .menu-icon {
  padding: 0 0.3rem;
}

.fs-content .menu .menu-options {
  position: absolute;
  top: 0;
  right: 20px;
  background-color: #f3f3e0;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  padding: 0.7rem 1rem;
  z-index: 1;
  width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: var(--chart-header-bg);
  color: var(--text-white);
  user-select: none;
}

.fs-content .menu .menu-options .option {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
}

.fs-content .menu .menu-options .option.view, .fs-content .menu .menu-options .option.edit, .fs-content .menu .menu-options .option.rename, .fs-content .menu .menu-options .option.history{
  color: var(--header-text-color);
}

.fs-content .menu .menu-options .option.save {
  color: var(--active-color)
}
.fs-content.half-border {
  border-bottom-right-radius: 0 !important;
}

.swal-storage-alert {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.swal-storage-alert .message {
  font-size: 1.2rem;
  font-weight: 600;
}
.active-color {
  color: var(--active-color);
}

.danger-color {
  color: var(--danger-color);
}

.create-folder-modal .modal-dialog{
  height: 100vh;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-folder-modal .modal-dialog .modal-content button {
  border: none;
}
.create-folder-modal .modal-dialog .modal-content button:focus {
  border: none;
  outline: none;
}
.create-folder-modal .modal-dialog .modal-content button.create {
  background-color: var(--header-text-color);
}
.modal-header {
  background-color: var(--header-text-color);
  color: var(--text-white);
}
.fs-content .empty {
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
  padding: 0.8rem 1rem;
}
.fs-header .header-title .right .button-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.fs-content .loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem !important;
}
.fs-content .folder,
.fs-content .file {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.8rem 1rem;
  cursor: pointer;
  border-bottom: 1px solid var(--secondary-color-opacity);
}
.fs-content .folder .name,.fs-content .file .name  {
  flex: 2;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.fs-content .folder input,.fs-content .file input {
  width: 0.9rem;
  height: 0.9rem;
}
.fs-content .folder .filesize,
.fs-content .file .filesize {
  flex: 1;
  color: #4d97c2;
}
.fs-content .folder .modification-menu,
.fs-content .file .modification-menu
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  flex: 2;
}
.fs-content .folder .filesize, .fs-content .file .filesize{
  font-size: 0.9rem;
}
.fs-content .folder .name:hover ,
.fs-content .file .name:hover {
  text-decoration: underline;
}

.fs-content > div:last-child {
  border-bottom: none;
}
.fs-content .modification-delete {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.fs-content .modification {
  font-style: italic;
  color: #4d97c2;
  font-size: 0.9rem;
}

.fs-footer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  justify-content: space-between;
}

.fs-footer .progress {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent !important;
} 

.fs-footer .progress span {
  font-size: 1rem;
}
.fs-footer progress {
  width: 30vw;
}
.fs-footer .status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.loader {
  width: 24px;
  height: 24px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}