
.custom-primary-bg {
  background-color: var(--primary-color);
}
.custom-secondary-bg {
  background-color: var(--secondary-color);
}
.custom-tertiary-bg {
  background-color: var(--tertiary-color);
}
.custom-text-white {
  color: var(--text-white);
}
.custom-text-header {
  color: var(--header-text-color);
}
.custom-text-primary {
  color: var(--primary-color)
}
.custom-text-secondary {
  color: var(--secondary-color)
}
.custom-text-dark-grey {
  color: var(--dark-grey);
}
.fw-bold {
  font-weight: bold;
}
.left-panel-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  max-width: 100px;
  height: 100vh;
  border-right: 1px solid #ccc;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  background-color: var(--primary-color);
}
.left-panel-container .teams-container {
  flex: 1;
  display: grid;
  gap: 0.3rem;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
}
.left-panel-container .teams-container::-webkit-scrollbar {
  display: none;
}
.teams {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.left-panel-container .teams-container .team-link {
  display: flex;
  width: 100px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 100;
}
.left-panel-container .teams-container .team-link.active .team::before {
  content: "";
  display: block;
  position: absolute;
  left: -13px;
  width: 20px;
  height: 90%;
  background-color: var(--text-white);
  z-index: -1;
  border-top-right-radius: 8px ;
  border-bottom-right-radius: 8px ;
}
.left-panel-container .teams-container .team-link:hover {
  text-decoration: none;
}
.left-panel-container .teams-container .team-name {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-white);
}

.spherify-logo-container {
  margin-top: 10px;
}

.left-panel-container .spherify-logo {
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: 50%;
}
.left-panel-container .divider {
  width: 100%;
  margin: 10px 0;
  background-color: var(--secondary-color);
}

.left-panel-container .add-button {
  margin-bottom: 0;
  padding: 10px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 70px;
  height: 70px;
}

.left-panel-container .add-button .plus-icon {
  font-size: 2rem;
}
.left-panel-container .bottomSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-panel-container .button {
  margin-bottom: 10px;
  padding: 5px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--text-white);
}

.left-panel-container .button:hover {
  color: var(--secondary-color);
}

.settings .profile-image {
  position: relative;
}
.settings .profile-image img {
  width: 70px !important;
  height: 70px !important;
  object-fit: cover;
  border-radius: 50%;
}
.settings .profile-image .edit{
  height: 30px;
  width: 30px;
  padding: 0.2rem;
  border: none;
  position: absolute;
  bottom: -5px;
  right: -5px;
  background-color: var(--danger-color);
  color: var(--text-white);
  border-radius: 50%;
  padding: 0.2rem;
  cursor: pointer;
}
.settings .profile-image .save{
  width: 80px;
  padding: 0.3rem 0.7rem;
  border: none;
  position: absolute;
  bottom: -45px;
  background-color: var(--success-color);
  color: var(--text-white);
  border-radius: 7px;
  padding: 0.2rem;
  cursor: pointer;
}
.settings .profile-image .edit:focus, .settings .profile-image .save:focus {
  outline: none
}
.settings-button:focus {
  outline: none;
  border: none;
}
.left-panel-container .settings-button:hover {
  color: var(--danger-color);
  text-decoration: none;
}

.left-panel-container .icon {
  margin-right: 5px;
  height: 20px;
  width: 20px;
}
.left-panel-container .team {
  background-color: var(--secondary-color);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-panel-container .team-logo {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 50%;
}
.right-main-panel {
  max-width: 320px;
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--text-white);
  overflow-y: auto;
}

.right-main-panel .search-colleague {
  background-color: var(--tertiary-color);
  padding: 0.5rem 1rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.right-main-panel .search-colleague:focus {
  border: none;
  outline: none;
}

.right-main-panel .divider {
  background-color: var(--secondary-color);
}

.main-container {
  margin-left: 100px;
  margin-right: 320px;
}

.main-container .content {
  padding: 1rem;
  min-height: 100vh;
  position: relative;
}

.main-container .home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-container .title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.main-container .text {
  text-align: center;
  font-size: 1.2rem;
  z-index: 2;
  font-style: italic;
  color: var(--dark-grey);
}

.main-container .spherify-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 45%;
  min-width: 70px;
  min-height: 70px;
  opacity: 0.3;
  z-index: -1;
}

.main-container .header {
  display: flex;
  position: fixed;
  top: 0;
  left: 100px;
  right: 320px;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  background-color: var(--secondary-color);
  height: 60px;
  z-index: 10;
}

.main-container .header .logo-name {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.8rem;
  color: var(--primary-color);
}

.main-container .header .team {
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container .header .team-logo {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 50%;
}

.main-container .header .team-logo-char {
  color: var(--text-white);
  font-size: 1.5rem;
  text-align: center;
}
.main-container .header .team-name {
  font-size: 1.2rem;
  color: var(--header-text-color);
}

.main-container .team-container .team-content {
  margin-top: 60px;
}

.right-tool-panel {
  max-width: 320px;
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--text-white);
  overflow-y: auto;
}
.right-tool-panel .divider {
  background-color: var(--secondary-color);
}

.right-tool-panel .tool-title {
  padding: 0.1rem 0.3rem;
  font-weight: 500;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
}

.right-tool-panel .tool-title .arrow {
  font-size: 0.7rem;
}

.main-container .header .dashboard {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--header-text-color);
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
}
.main-container .header .dashboard.active {
  background-color: #3332;
}
.main-container .header .dashboard:hover {
  text-decoration: none;
}
.active-status {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 0.1rem;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.status-text {
  font-size: 16px;
  font-weight: bold;
}

.online-text {
  color: var(--active-color);
}

.offline-text {
  color: var(--inactive-color);
}

.toggle-switch {
  width: 50px;
  height: 25px;
  background: #ccc;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.toggle-switch.active {
  background: lightgray;
}

.switch-circle {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  transition: left 0.3s ease-in-out, background 0.3s ease-in-out;
}

.toggle-switch.active .switch-circle {
  left: 25px;
  background: green;
}

.online-time {
  margin-top: 0.3rem;
  font-size: 0.7rem;
  color: var(--dark-grey);
}

.offline-time {
  margin-top: 0.3rem;
  font-size: 0.7rem;
  color: var(--dark-grey);
}

.chart-bg {
  background-color: var(--chart-bg-color);
}

.settings .divider {
  width: 100%;
  margin: 10px 0;
  background-color: var(--secondary-color);
}
.settings .account {
  margin-top: 20px;
}

.settings .profile-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  height: 200px;

}
.settings .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
  margin-bottom: 1rem;
}
.settings .profile-image {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--secondary-color);
  border-radius: 50%;

}
.settings .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.settings .settings-form {
  position: relative
}
.settings .settings-form .edit {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: var(--danger-color);
  color: var(--text-white);
  padding: 0.2rem 0.9rem;
  font-size: 1rem;
  border-radius: 5px;
}
.settings .settings-form .button-group {
  margin-top: 1rem;
  margin-left: auto;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.settings .settings-form .button-group button {
  border: none;
  background-color: var(--active-color);
  color: #fff;
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
}
.settings .settings-form .button-group button:focus {
  outline: none;
}
.settings .settings-form .edit:focus {
  outline: none;
}
.settings .default-profile {
  font-size: 3rem;
  padding: 0.5rem;
  background-color: var(--secondary-color);

  border-radius: 50%;;
}
.modal-dialog {
  max-width: 1000px !important;
}
.modal-body {
  max-height: 80vh; /* Adjust the height to fit the modal */
  overflow-y: auto !important;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}
.member-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
  border: none
}
.member-info .member-avatar {
  width: 40px;
  height: 40px;
}
.delete {
  color: var(--danger-color);
  cursor: pointer;
}