.tool-container {
  display: flex;
  user-select: none;
  flex-direction: column;
  margin-bottom: 0.3rem;
}
.tool-container .header {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}
.tool-container .header .arrow {
  font-size: 0.7rem;
}
.tool-content {
  margin-left: 1.5rem;
}
.tool-content .chat {
  padding: 0.3rem 0.5rem !important;

}
.tool-content .add {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
  margin-top: 0.3rem;
  cursor: pointer;
  color: var(--white-grey);
}
.tool-content .add:hover {
  color: var(--secondary-color);
}
.tool-content .add .icon {
  font-size: 0.7rem;
}

.tool-content .chat {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
  margin: 0.3rem 0;
  cursor: pointer;
}

.tool-content .chat:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

.tool-content .chat .icon {
  font-size: 0.7rem;
}
.right-tool-panel * {
  color: var(--text-white)
}
.right-tool-panel .message-group-container {
  position: absolute;
  top: 60px;
  bottom: 58px;
  left: 0;
  right: 0;
  overflow-y: auto;
}
.right-tool-panel .message-group-container .createdAt {
  font-style: italic;
  font-size: 0.8rem;
  text-align: center;
  margin: 0.5rem 0;
  color: var(--chart-bg-color)
}

.right-tool-panel .message-group-container .message {
  display: flex;
  gap: 0.5rem;
  margin: 0.3rem 0;
}
.right-tool-panel .message-group-container .message .message-content {
  border-radius: 0.5rem;
  color: var(--dark-grey);
  font-size: 0.8rem;
  width: 100%;
  display: flex;
  align-items: end;
  gap: 0.4rem;
}
.right-tool-panel .message-group-container .message .message-content .msg-text {
  color: var(--header-text-color);
}
.right-tool-panel .message-group-container .message .message-content .avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.9rem;
}
.right-tool-panel .message-group-container .message .message-content .avatar img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--white-grey);
}
.right-tool-panel .message-group-container .message .message-content p {
  max-width: 80%;
  margin-bottom: 0;
}
.right-tool-panel .message-group-container .message.other p {
  margin-right: auto;
}
.right-tool-panel .message-group-container .message.you p {
  margin-left: auto;
}
.right-tool-panel .message-group-container .message.you .message-content .sender {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  user-select: none;
  margin-bottom: 3px;
}
.right-tool-panel
  .message-group-container
  .message.other
  .message-content
  .sender {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  user-select: none;
  margin-bottom: 3px;
}
.right-tool-panel .message-group-container .message.you p .chat-content {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.right-tool-panel .message-group-container .message.other p .chat-content {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.right-tool-panel .message-group-container .message.you p .chat-time {
  text-align: right;
}
.right-tool-panel .message-group-container .message .chat-content {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.right-tool-panel
  .message-group-container
  .message
  .chat-content
  .msg-images
  img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  padding: 0.3rem;
}
.right-tool-panel .message-group-container .message .chat-time {
  font-size: 0.6rem;
  color: var(--white-grey);
  user-select: none;
  margin-top: 3px;
}
.right-tool-panel .message-group-container .input-message-container {
  position: fixed;
  right: 0;
  width: 350px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: transparent;
  border-top: 1px solid var(--border-color);
  z-index: 1000;
  gap: 0.3rem;
}

.right-tool-panel .message-group-container .message-group {
  /* margin-bottom: 50px; */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 0.5rem;
  top: 0;
  overflow-y: auto;
}
/* Hide the scrollbar track (background) */
.right-tool-panel .message-group-container .message-group::-webkit-scrollbar-track {
  background: transparent; /* Make the track invisible */
}

/* Style the scrollbar thumb (the draggable part) */
.right-tool-panel .message-group-container .message-group::-webkit-scrollbar {
  width: 5px;
}

.right-tool-panel .message-group-container .message-group::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scroll thumb */
  border-radius: 10px;
}

.right-tool-panel .message-group-container .message-group::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darken on hover */
}

.right-tool-panel .message-group-container .message-group .chat-container {
  /* overflow: auto; */
  margin-bottom: 58px;
}
.chat-content.other {
  background-color: var(--other-message-bg);
}
.chat-content.you {
  background-color: var(--your-message-bg);
}
.right-tool-panel .message-group-container .input-message-container input {
  padding: 0.5rem;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  outline: none;
  flex: 7;
  font-size: 0.9rem;
  color: var(--header-text-color)
}
.right-tool-panel
  .message-group-container
  .input-message-container
  .emoji-picker {
  flex: 1;
  font-size: 1.4rem;
  max-width: 80px;
  padding-left: 15px;
  position: absolute;
  right: 52px;
}
.right-tool-panel .message-group-container .emoji-picker-container {
  position: absolute;
  bottom: 60px;
  right: 5px;
  z-index: 1000;
}

.right-tool-panel .message-group-container .input-message-container button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  flex: 1;
  max-width: 70px;
  color: var(--primary-color);
}

.right-tool-panel
  .message-group-container
  .input-message-container
  .image-preview-container {
  position: absolute;
  bottom: 60px;
  background: var(--white-grey);
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  z-index: 100;
}
.right-tool-panel
  .message-group-container
  .input-message-container
  .image-preview-container
  .image-preview {
  position: relative;
}
.right-tool-panel
  .message-group-container
  .input-message-container
  .image-preview-container
  img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  padding: 0.3rem;
}
.right-tool-panel
  .message-group-container
  .input-message-container
  .image-preview-container
  button.exit {
  font-size: 1rem;
  color: var(--danger-color);
  position: absolute;
  top: 0;
  right: 0;
}
.more-images {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
}
