:root {
    --primary-color: #001f3f;
    --secondary-color: #7ab2d3;
    --secondary-color-opacity: #7ab2d366;
    --tertiary-color: #cbdceb;
  
    --header-text-color: #1d559e;
    --text-white: #e3e3e3;
    --active-color: #0fbd43;
    --inactive-color: #dc2b2b;
    --success-color: #2ecc71;
    --danger-color: #ff4136;
    --dark-grey: #333;
    --white-grey: #cacaca;
    --chart-bg-color: #cbdceb;
    --light-yellow-bg: #fcfce0;
    --create-team-bg: #C6C6C6;
    --team-bg: #AAD0FF;

    --team-request-bg: #F1F1F1;
   
    /* Chats */
    --other-message-bg: #D9D9D9;
    --your-message-bg: #AAD0FF;

    /* Admin */
    --user-card-bg: #0B9C37;
    --team-card-bg: #B74714;
  }